/*****************************************************/
/***         Conteneurs en page d'accueil          ***/
/*****************************************************/
/*Mise en page partie main entre header-footer */
.main-container_index {
    @media all and (min-width: 1024px) {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
    }
    @media all and (min-width: 1440px) {
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-content: center;
    }
}

/*Dimension des visuels */
.container_indexbox, .section-index_hover {
    width:256px;
    height: 358px;
    margin: 20px;
        @media all and (min-width:768px) {
            width: 615px;
            height:860px;
            margin: 50px;
        }
        @media all and (min-width: 1024px) {
            width: 360px;
            height: 510px;
            margin: 70px;
        }
        @media all and (min-width: 1440px) {
            width: 530px;
            height: 750px;
            margin: 100px;
        }
}

/*Survol des visuels*/
.section-index_hover {
    transition: .8s cubic-bezier(.68,.25,.53,.82);
    &:active {
        -webkit-transform: scale(1.1);
	    transform: scale(1.1);
        opacity: 0.8;
    }
    @media all and (min-width: 1024px) {
        &:hover {
    	    -webkit-transform: scale(1.3);
	        transform: scale(1.3);
            opacity: 0.8;
        }
    }
}

/*Bouton prochainement*/
.container-button_soon {
    font-size: $p-font-size;
    margin: 20px;
    margin-bottom: 32px;
}

/*****************************************************/
/***        Conteneur des pages de menus           ***/
/*****************************************************/
/*Texte centrés dans les conteneurs */
.article-container_menubox, .section-container_menubox , .container_deco {
    text-align: center;
}

/*Mise en page entre header-footer*/
.main-container_menu {
    margin: 5vmin 0;
    padding: 4vmin 3.25vmin;
}

/*Pour la mise en ligne des fioritures encadrant les titres entrées-plats-desserts*/
.container_deco {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-container_menubox {
    display:block;
    @media all and (min-width: 768px) {
        display: flex;
    }
}

/*****************************************************/
/***    Propriétés communes à toutes les pages     ***/
/*****************************************************/
/*Positionnement centré de tous les éléments entre le header et le footer*/
.main-container_index, .main-container_menu, .container-button_soon, .container_indexbox, .section-index_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Mise en page du visuel de chaque carte et en mentions légales*/
.article-container_menubox, .article-container_legal{
    margin-bottom: 5vmin;
}

/*Ombre sous les menus et les boutons*/
.article-container_menubox, .container_indexbox {
    box-shadow: $box-shadow;
}

/*Couleur de fond personnalisée pour les menus et les visuels de menus page d'accueil*/
.article-container_menubox_note {
    background-color: $background-menu_note;
}
.article-container_menubox_chic {
    background-color: $background-menu_chic;
}
.article-container_menubox_delice {
    background-color: $background-menu_delice;
}
.article-container_menubox_palette {
    background-color: $background-menu_palette;
}