
.main-menu {
    margin: 100px 60px;
}

.main-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-container__box {
    width: 27em;
    height:41em;
    margin: 3em;
    display: flex;
   justify-content: center;
    align-items: center;
}

.bouton-index {
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 70px;

}

.section-menu {
width: 100%;
display:flex;
}

.ul-menu {
    width: 85%;
}

.ul-prix {
    width: 15%;
}

.main-mentions-legales {
margin: 20px;
}

.section-mentions-legales {
padding: 30px;
}