/*****************************************************/
/***         Conteneurs en page d'accueil          ***/
/*****************************************************/
/*Mise en page partie main entre header -footer */
.main-container_index {
    padding: 3em 4.4em;
}

/*Mise en paga des visuels des cartes de restaurant*/
.container_indexbox {
    width: 16em;
    height:22em;
    margin-bottom: 3em;
}

/*Conteneur du bouton prochainement*/
.button_soon {
    width: 12em;
    height: 3.5em;
    background: $color-primary;
    color: $color-secondary;
    border:none;
    border-radius: 0.4em;
    margin: 1.2em 0 2em 0;
}



/*****************************************************/
/***        Conteneur des pages de menus           ***/
/*****************************************************/
/*Texte centrés dans les conteneurs */
.article-container_menubox, .section-container_menubox, .container_indexbox {
    text-align: center;
}

/*Délimitations de section <hr> */
.hr-legal, .hr-menu {
    margin: 2em 0.8em;
}


/*****************************************************/
/***     Conteneur en page mentions légales        ***/
/*****************************************************/
/*Blanc tournant*/
.article-container_legal {
    margin: 1rem;
}

/*****************************************************/
/***    Propriétés communes à toutes les pages     ***/
/*****************************************************/
/*Positionnement centré de tous les éléments entre le header et le footer*/
.main-container_index, .main-container_menu, .container-button_soon, .container_indexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Ombre sous les menus et les boutons*/
.article-container_menubox, .container_indexbox, .button_soon {
    box-shadow: $box-shadow;
}

/*Body couleur de fond personnalisée pour les menus et les visuels de menus en index*/
.article-container_menubox_note {
    background-color: $background-menu_note;
}

.article-container_menubox_chic {
    background-color: $background-menu_chic;
}

.article-container_menubox_delice {
    background-color: $background-menu_delice;
}

.article-container_menubox_palette {
    background-color: $background-menu_palette;
}