/*****************************************************/
/***                   Footer                      ***/
/*****************************************************/
.footer {
    background: $footer-color;
    position:fixed;
    display:flex;
    flex-direction: colomn;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
    bottom: 0;
    height: 55px;
        @media  all and (min-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 70px;
        }
        @media  all and (min-width: 1024px) {
            height: 90px;
}