/*****************************************************/
/***                   Footer                      ***/
/*****************************************************/
.footer {
    background: $footer-color;
    position:fixed;
    bottom: 0;
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}