/*****************************************************/
/***                   Header                      ***/
/*****************************************************/
.header {
    background: $header-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8rem;
    margin-bottom: $margin-bottom;
}

