@charset "UTF-8";
/*****************************************************/
/***             Couleurs principales              ***/
/*****************************************************/
/*****************************************************/
/***       Couleurs des header et footer           ***/
/*****************************************************/
/*****************************************************/
/***            Couleurs des textes             ***/
/*****************************************************/
/*La note enchantée*/
/*Le chic à la française*/
/*Dégradés linéaires texte du menu chic à la française*/
/*Le délice des papilles*/
/*dégradés dans les hr du menu palette*/
/*****************************************************/
/***               Couleurs de fond                ***/
/*****************************************************/
/*****************************************************/
/***                    LOGO                       ***/
/*****************************************************/
/*****************************************************/
/***            Taille de caractères               ***/
/*****************************************************/
/*****************************************************/
/***                    Marges                     ***/
/*****************************************************/
/*****************************************************/
/***           Ombres avec box-shadow              ***/
/*****************************************************/
/*****************************************************/
/***                   LOGO                        ***/
/*****************************************************/
.logo {
  color: #fcca46;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  background-color: #579c87; }

.h1-logo {
  font-size: 3rem;
  text-align: center; }

/*****************************************************/
/***         Liens vers les pages de menus         ***/
/*****************************************************/
/*   .page-menu-link{} */
/*ANIMATION A VENIR AU SURVOL*/
/*****************************************************/
/***             Liens dans le footer              ***/
/*****************************************************/
.footer-link {
  color: #fcca46; }

/*ANIMATION A VENIR AU SURVOL*/
/*****************************************************/
/***       Liens sans effet de souligné            ***/
/*****************************************************/
.page-menu-link, .footer-link, .header_home-link {
  text-decoration: none; }

/*****************************************************/
/***                   Header                      ***/
/*****************************************************/
.header {
  background: #579c87;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8rem;
  margin-bottom: 3rem; }

/*****************************************************/
/***     Particularités Mentions légales           ***/
/*****************************************************/
/*Titre de la page*/
.h2-mentions-legales {
  font-size: 1.5em; }

/*Titres de chaque partie*/
.h3-mentions-legales {
  font-size: 1.2em; }

/*Titres de sous-parties*/
.h4-mentions-legales {
  font-size: 1em; }

/*Titres centrés*/
.h2-mentions-legales, .h3-mentions-legales, .h4-mentions-legales {
  text-align: center; }

/*Taille de polices des contenus*/
.p-mentions-legales, .li-mentions-legales {
  font-size: 0.7em; }

/*Style des puces des listes*/
.li-mentions-legales {
  list-style-type: square; }

/*Séparations des parties*/
.hr-mentions-legales {
  height: 0.01em;
  border-style: dashed;
  border-width: 0.02rem;
  color: #fcca46;
  margin: 1rem; }

/*****************************************************/
/***   Généralités applicable à chaque menu        ***/
/*****************************************************/
/*Titre carte de chaque restaurant*/
.h2-titre-menu {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem; }

/*Titre dans chaque carte*/
.h2-menu {
  font-size: 2rem; }

/*Alignement des polices des titres*/
.h2-menu, .h3-menu, .h2-titre-menu {
  text-align: center; }

/*Séparations entre chaque type de plat*/
.hr-menu {
  line-height: 2em;
  font-size: 1.5rem;
  position: relative;
  outline: 0;
  border: 1px solid green;
  /*à ôter à la fin du travail, permet de délimiter la zone hr dans son entier*/
  text-align: center;
  height: auto;
  opacity: 0.9; }
  .hr-menu::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-menu::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0.5em; }

/*# sourceMappingURL=style.css.map */
