@charset "UTF-8";
/*****************************************************/
/***             Couleurs principales              ***/
/*****************************************************/
/*****************************************************/
/***       Couleurs des header et footer           ***/
/*****************************************************/
/*****************************************************/
/***            Dégradés de couleurs               ***/
/*****************************************************/
/*Notes du menu 1*/
/*Menu chic*/
/*Menu palette*/
/*****************************************************/
/***            Couleurs des textes             ***/
/*****************************************************/
/*La note enchantée*/
/*Le chic à la française*/
/*Le délice des papilles*/
/*La palette du goût*/
/*****************************************************/
/***               Couleurs de fond                ***/
/*****************************************************/
/*****************************************************/
/***                    LOGO                       ***/
/*****************************************************/
/*à voir pour $global-title*/
/*****************************************************/
/***            Polices de caractères              ***/
/*****************************************************/
/*Titre carte de chaque restaurant*/
/*Menu 1*/
/*Menu 2*/
/*Menu 3*/
/*Menu 4*/
/*Mentions légales*/
/*****************************************************/
/***            Taille de caractères               ***/
/*****************************************************/
/*****************************************************/
/***                    Marges                     ***/
/*****************************************************/
/*****************************************************/
/***           Ombres avec box-shadow              ***/
/*****************************************************/
/*****************************************************/
/***                 Contenu global                ***/
/*****************************************************/
/*Annuler le margin par défaut des navigateurs*/
html, body {
  margin: 0;
  padding: 0; }

/*****************************************************/
/***   Typographie applicable à chaque page        ***/
/*****************************************************/
* {
  line-height: 1em;
  font-size: 16px;
  word-wrap: break-word; }

/*****************************************************/
/***     Taille de caractères généralisée          ***/
/*****************************************************/
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.12em; }

/*****************************************************/
/***  Margin applicable partout sauf h1 - logo     ***/
/*****************************************************/
h2, h3, h4, hr, p, ul, li {
  margin: 0.5rem; }

/*****************************************************/
/***     Bouton prochainement - page d'accueil     ***/
/*****************************************************/
.button_soon {
  text-align: left;
  font-size: 1em;
  padding-left: 0.9rem; }

/*****************************************************/
/***                   LOGO                        ***/
/*****************************************************/
.logo {
  color: #fcca46;
  font-family: "Montserrat", cursive;
  /*voir le souci avec les $fz*/ }

.h1-logo {
  font-size: 2em;
  text-align: center;
  letter-spacing: -1px; }

/*****************************************************/
/***         Liens vers les pages de menus         ***/
/*****************************************************/
/*   .page-menu-link{} */
/*ANIMATION A VENIR AU SURVOL*/
/*****************************************************/
/***             Liens dans le footer              ***/
/*****************************************************/
.footer-link {
  color: #fcca46;
  padding: 0.25rem; }

/*ANIMATION A VENIR AU SURVOL*/
/*****************************************************/
/***       Liens sans effet de souligné            ***/
/*****************************************************/
.link-page_menu, .footer-link, .link-home {
  text-decoration: none; }

/*****************************************************/
/***              Icônes Font Awesome              ***/
/*****************************************************/
/*Points de suspension*/
.fa-circle {
  font-size: 0.25em;
  padding: 0.25rem; }

/*notes de musique
.fa-music {
    background:linear-gradient(135deg, $gradient1_note, $gradient2_note);
}*/
/*****************************************************/
/***                   Header                      ***/
/*****************************************************/
.header {
  background: #579c87;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7rem;
  margin-bottom: 3rem; }

/*****************************************************/
/***         Conteneurs en page d'accueil          ***/
/*****************************************************/
/*Ombres des menus et bouton prochainement*/
.section-container_indexbox, .button_soon {
  box-shadow: 4px 4px 4px #efefef; }

/*Mise en paga des visuels des cartes de restaurant*/
.section-container_indexbox {
  width: 16em;
  height: 24em;
  margin: 1em; }

/*Conteneur du bouton prochainement*/
.button_soon {
  width: 12rem;
  height: 3rem;
  background: #579c87;
  color: #fcca46;
  border: none;
  border-radius: 0.4em;
  margin-bottom: 3em; }

/*****************************************************/
/***        Conteneur des pages de menus           ***/
/*****************************************************/
/*Texte centrés dans les conteneurs */
.article-container_menubox, .section-container_menubox, .section-container_indexbox {
  text-align: center; }

/*Délimitations de section <hr> */
.hr-legal, .hr-menu {
  margin: 2em; }

/*****************************************************/
/***     Conteneur en page mentions légales        ***/
/*****************************************************/
/*Blanc tournant en bas de sections et gestion du footer fixe*/
/*****************************************************/
/***    Propriétés communes à toutes les pages     ***/
/*****************************************************/
/*Positionnement centré de tous les éléments entre le header et le footer*/
.main-container__index, .main-container_menu, .container-button_soon, .section-container_indexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*Ombre sous les menus et les boutons*/
.article-container_menubox, .button_soon {
  box-shadow: 4px 4px 4px #efefef; }

/*****************************************************/
/***                   Footer                      ***/
/*****************************************************/
.footer {
  background: #579c87;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/*****************************************************/
/***     Particularités La note enchantée          ***/
/*****************************************************/
/*Menu écrit en majuscule sur le menu note*/
.span-menu_note {
  text-transform: uppercase; }

/*****************************************************/
/***     Particularités Mentions légales           ***/
/*****************************************************/
/*Titres centrés*/
.h2-legal, .h3-legal, .h4-legal {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/*Taile des titres*/
.h3-legal, .h4-legal, .a-legal {
  font-size: 90%; }

/*Taille des contenus*/
.p-legal, .li-legal {
  font-family: "Roboto Slab", serif;
  font-size: 80%;
  padding: 0.5rem; }

/*Blanc tournant supplémentaire pour les puces des listes*/
.li-legal {
  padding-left: 0.7rem; }

/*Style des puces des listes*/
.li-legal {
  list-style: none; }

/*Séparations des parties*/
.hr-legal {
  height: 0.01em;
  border-style: dashed;
  border-width: 0.02rem;
  color: #fcca46; }

.a-legal {
  color: #579c87; }

/*****************************************************/
/***   Généralités applicable à chaque menu        ***/
/*****************************************************/
/*Titre carte de chaque restaurant*/
.h2-titre-menu {
  margin: 2rem 0;
  line-height: 1em; }

/*Titre dans chaque carte*/
.h2-menu {
  font-size: 1.5em; }

/*Alignement des polices des titres*/
.h2-menu, .h4-menu_note, .h2-titre-menu {
  text-align: center; }

/*Séparations entre chaque type de plat*/
.hr-menu {
  margin: 0;
  width: 100%;
  font-size: 1em;
  position: relative;
  outline: 0;
  border: 1px solid green;
  /*à ôter à la fin du travail, permet de délimiter la zone hr dans son entier*/
  text-align: center;
  height: auto;
  opacity: 0.9; }
  .hr-menu::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-menu::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0.5em; }

/*****************************************************/
/***     Particularités La note enchantée          ***/
/*****************************************************/
/*Couleur d'arrière-plan*/
.body-menu_note {
  background-color: #fcdfdb; }

/*Titre 2 et titre 3 à l'intérieur de la carte*/
.h2-menu_note, .h4-menu_note {
  font-family: "Devonshire", cursive; }

/*Contenu des menus*/
.p-menu_note, .p-prix_note, .hr-menu_note {
  font-family: "segoepr", "Open Sans", cursive; }

/*Prix en gras*/
.p-prix_note {
  font-weight: 700; }

/*Couleur de police*/
.h2-menu_note, .hr-menu_note {
  color: #3d1319; }

.span-menu_note {
  text-transform: uppercase; }

/*****************************************************/
/***     Particularités Le chic à la française     ***/
/*****************************************************/
/*Couleur d'arrière-plan*/
.body-menu_chic {
  background-color: #fff5fe; }

/*Titre à l'intérieur de la carte*/
.h2-menu_chic {
  font-family: "Croissant One", cursive;
  /*background-color: linear-gradient(to right, $gradient1_chic, $gradient2_chic); A TRAITER */ }

/*Texte à l'intérieur des entrées plats et desserts*/
.p-prix_chic, .p-menu_chic, .hr-menu_chic {
  font-family: "Roboto Slab", serif; }

/*Reste à traiter*/
/*.hr-menu_nomdemenu {}*/
/* appétit #c67412; */
/*papilles  #a56799 */
/* gourmandises #6e4ccc */
/*****************************************************/
/***     Particularités Le délice des papilles     ***/
/*****************************************************/
/*Couleur d'arrière-plan*/
.body-menu_delice {
  background-color: #edefef; }

/*Titre à l'intérieur de la carte*/
.h2-menu_delice, .h3-menu_delice {
  font-family: "Dancing Script", cursive; }

.p-prix_delice, .p-menu_delice, .hr-menu_delice {
  font-family: "segoepr", "Open Sans", cursive; }

/*Reste à traiter*/
/*.hr-menu_note {}
polices de caractère*/
/*****************************************************/
/***     Particularités La palette du goût         ***/
/*****************************************************/
/*Couleur d'arrière-plan*/
.body-menu_palette {
  background-color: #fdfffd; }

/*Titre à l'intérieur de la carte*/
.h2-menu_palette {
  font-family: "Kaushan Script", cursive; }

/*Texte des entrées, plats et desserts*/
.p-prix_palette, .p-menu_palette, .hr-menu_palette {
  font-family: "Open Sans", cursive; }

/*Reste à traiter*/
/*.hr-menu_palette {}
polices de caractères*/

/*# sourceMappingURL=style.css.map */
