/*****************************************************/
/***     Bouton prochainement - page d'accueil     ***/
/*****************************************************/
.button_soon {
    text-align: left;
    font-size: $p-font-size;
    padding-left: 0.5em;
}

