/*****************************************************/
/***                 Ornements                    ***/
/*****************************************************/
/*Visible à partir de la tablette min-width:768px */
.img_deco {
    visibility: hidden;
    opacity: 0.7;
    @media all and (min-width: 768px) {
        width: 180px;
        padding: 20px;
        visibility: initial;
    }
    @media all and (min-width: 1024px) {
        padding: 40px;
        width: 280px;
    }
    @media all and (min-width: 1440px) {
        padding: 40px;
        width: 400px;
    }
    @media all and (min-width: 1900px) {
        padding: 90px;
        width: 540px;
    }
}
