/*****************************************************/
/***                 Ornements                    ***/
/*****************************************************/
/*Visible à partir de la tablette min-width:768px */
.img_deco {
    text-align: center;
    visibility: hidden;
    opacity: 0.7;
    @media all and (min-width: 768px) {
        width:30vw;
        padding: 20px;
        visibility: initial;
    }
    @media all and (min-width: 1024px) {
        padding: 40px;
    }
    @media all and (min-width: 1440px) {
        padding: 40px;
        width: 420px;
    }
    @media all and (min-width: 1900px) {
        padding: 40px;
        width: 580px;
    }
}
