/*Liens sur les images de la page d'accueil vers chaque page de menu*/
.page-menu-link{

}

/*Liens contenus dans le footer*/
.footer-link{
  color: $color-secondary;
  width: 200px;
}

/*Tous les liens sont sans effet de souligné*/
.page-menu-link, .footer-link, .header_home-link {
  text-decoration: none;
}
