/*****************************************************/
/***         Liens vers les pages de menus         ***/
/*****************************************************/
/*   .page-menu-link{} */
/*ANIMATION A VENIR AU SURVOL*/




/*****************************************************/
/***             Liens dans le footer              ***/
/*****************************************************/
.footer-link {
  color: $color-secondary;
  margin: 0.3em;
    &:hover {
      -webkit-animation: wiggle 200ms infinite;
      animation: wiggle 200ms infinite;
    }
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  12.5% {transform: rotate(-2deg);}
  25% {transform: rotate(-4deg);}
  37.5% {transform: rotate(-2deg);}
  50% {transform: rotate(0deg);}
  62.5% {transform: rotate(2deg);}
  75% {transform: rotate(4deg);}
  87.5% {transform: rotate(2deg);}
  100% {transform: rotate(0deg);}
}
/*****************************************************/
/***       Liens sans effet de souligné            ***/
/*****************************************************/
.link-page_menu, .footer-link, .link-home {
  text-decoration: none;
}
