/*****************************************************/
/***                   LOGO                        ***/
/*****************************************************/
.logo {
    color: $logo-color;
    font-family: "Montserrat", cursive;
}

.h1-logo {
    font-size: $h1-font-size;
    text-align: center;
    letter-spacing: -1px;
}