/*contenu global*/
html, body {
    margin: 0;
    padding: 0;
}

html {
    width:100%;
}

.favicon {
    color: $color-secondary;
}

/**************contenu body****************/
.body {
    width: 100%;
    border: solid 1px black;
}

/*Body couleur de fond personnalisée pour les menus et les visuels de menus en index*/
.body-menu_note {
    background-color: $menu-note-background;
}

.body-menu_chic {
    background-color: $menu-chic-background;
}

.body-menu_delice {
    background-color: $menu-delice-background;
}

.body-menu_palette {
    background-color: $menu-palette-background;
}