/*contenu global*/
* {margin: 0; padding: 0;}

html {
    width:100%;
}

.favicon {
    color: $color-secondary;
}

/**************contenu body****************/
.body {
    width: 100%;
    border: solid 1px black;
}

/*Body personnalisé pour les menus*/
.body-menu-note {
    background-color: $menu-note-background;
}

.body-menu-chic {
    background-color: $menu-chic-background;
}

.body-menu-delice {
    background-color: $menu-delice-background;
}

.body-menu-palette {
    background-color: $menu-palette-background;
}