/*****************************************************/
/***   Typographie applicable à chaque page        ***/
/*****************************************************/
* {
    font-size: $base-font-size;
    word-wrap: break-word;
}

/*****************************************************/
/***     Taille de caractères généralisée          ***/
/*****************************************************/
h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

/*hr utilisés à la place des h3*/
.h3-hidden {
    display: none;
}

h4 {
    font-size: $h4-font-size;
}

/*****************************************************/
/***             Suppression de Margin             ***/
/*****************************************************/
body, h1, footer, header, .h3-hidden {
    margin: 0;
    padding:0;
}