/*****************************************************/
/***   Typographie applicable à chaque page        ***/
/*****************************************************/
* {
    line-height: $line-height;
    font-size: $base-font-size;
    word-wrap: break-word;
}

/*****************************************************/
/***     Taille de caractères généralisée          ***/
/*****************************************************/
h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
    $padding-h2: 1.5rem;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

/*****************************************************/
/***  Margin applicable partout sauf h1 - logo     ***/
/*****************************************************/
h2, h3, h4, hr, p, ul, li {
    margin: 0.5rem;
}