
/*Typo pour tout le corps des pages*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: $base-font-size;
    line-height: $line-height;
}

/*Typo pour tous les titres du site*/
h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

.span-menu-note {
    text-transform: uppercase;
}


