/*****************************************************/
/***     Particularités La note enchantée          ***/
/*****************************************************/
/*Particularités MENU*/
.h3-menu_note {
    color: $color-menu_note;
    text-transform: uppercase;
    font-family: $ff-content-M1;
}


