//*****************************************************
/***    Ecriture des Visuels page d'accueil        ***/
//*****************************************************
.body_index {
    font-family: $main-font;
    font-size: 75%;
}
/*Particularités de l'écriture du mot menu Note*/
.h3-menu_note {
    color: $gradient3_note;
    text-transform: uppercase;
    font-family: $ff-content-M1;
}
/*Particularités de l'écriture du mot menu Chic*/
.h3-menu_chic {
    font-family: $ff-content-M2;
    color: $gradient1_chic;
}
/*Particularités de l'écriture du mot menu delice*/
.h3-menu_delice {
    font-family: $ff-content-M3;
    color: $gradient2_delice;
}
/*Particularités de l'écriture du mot menu palette*/
.h3-menu_palette {
    font-family: $ff-content-M4;
    color: $gradient1_palette;
}

/*Couleur de fond personnalisée pour les menus et les visuels de menus page d'accueil*/
.article-container_menubox_note {
    background-color: $background-menu_note;
}
.article-container_menubox_chic {
    background-color: $background-menu_chic;
}
.article-container_menubox_delice {
    background-color: $background-menu_delice;
}
.article-container_menubox_palette {
    background-color: $background-menu_palette;
}