//*****************************************************
/***     Particularités Le délice des papilles     ***/
//*****************************************************
/*Titre à l'intérieur de la carte*/
.h2-menu_delice {
    font-family: $ff-title-M2;
    background: linear-gradient($direction, $gradient1_delice, $gradient3_delice);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h2-menu_delice {
    font-family: $ff-title-M3;
}

.p-prix_delice, .p-menu_delice .h3-menu_delice {
    font-family: $ff-content-M3;
}