/*La palette du goût*/
$menu4-background: #fdfffd;
$menu4-gradient1: #41963c;
$menu4-gradient2: b2f478;


/*Titre et texte :   font-family: 'Short Stack', cursive; */

.h2-menu_nomdemenu {}
.hr-menu_nomdemenu {}
.li-menu_nomdemenu {}
.li-prix_nomdemenu {}