/*La note enchantée*/
$menu1-text: #3d1319;
$menu1-background: #fcdfdb;




/*Texte  font-family: 'Short Stack', cursive; */

.h2-menu_nomdemenu {
    font-family: devonshire-regular.ttf, 'Ma Shan Zheng', cursive;;
    &:::before {
        .img-note {
            width: 90px;
            height:90px;
}
.hr-menu_note {}

.li-prix_note, .li-menu_note {
    font-family: Short Stack', cursive;
}
.h3-rappel-menu_nomdemenu{
    
}