/*****************************************************/
/***     Particularités La note enchantée          ***/
/*****************************************************/
/*Couleur d'arrière-plan*/
.body-menu_note {
    background-color: $background-menu_note;
}

/*Titre 2 et titre 3 à l'intérieur de la carte*/
.h2-menu_note, .h4-menu_note {
    font-family:"Devonshire-regular", cursive;
}

/*Contenu des menus*/
.p-menu_note, .p-prix_note {
    font-family:"Devonshire-regular", cursive;
}
/*Prix en gras*/
.p-prix_note {
    font-weight: 700;
}

/*Couleur de police*/
.h2-menu_note, .hr-menu_note,  {
    color: $color-menu_note;
}

.fa-music {
    background:linear-gradient(135deg, $gradient1_note, $gradient2_note);
}
