/*****************************************************/
/***     Particularités Mentions légales           ***/
/*****************************************************/
/*Famille de police*/
.body_legal {
    font-family: $main-font;
}
/*Titres centrés*/
.h2-legal, .h3-legal, .h4-legal {
    text-align: center;
}

/*Taille des contenus*/
.p-legal {
    font-family: $ff-content-legal;
}

/*ohmyfood en jaune dans les mentions légales*/
.logo {
    color: $logo-color;
}

/*Séparations des parties*/
.hr-legal {
    height: 0.01em;
    border-style: dashed;
    border-width: 0.02rem;
    color: #fcca46;
}

/*Couleurs des liens*/
.a-legal {
    color: $color-primary;
}