//*****************************************************
/***     Particularités Le chic à la française     ***/
//*****************************************************
/*Titre à l'intérieur de la carte*/
.h2-menu_chic {
    font-family: $ff-title-M2;
    @include linearGradient($direction, $gradient1_chic, $gradient3_chic);
}

/*Couleurs différentes entrées/plats/desserts*/
.section_chic_color1, .h3-menu_hover_chic1 {
    color: $gradient1_chic;
}
.section_chic_color2, .h3-menu_hover_chic2 {
    color: $gradient2_chic;
}
.section_chic_color3, .h3-menu_hover_chic3 {
    color: $gradient3_chic;
}


/*Couleur de soulignement des entrées-plats-desserts*/
.h3-menu_hover_chic1 {
    @include underline($gradient1_chic, $gradient1_chic);
}
.h3-menu_hover_chic2 {
    @include underline($gradient2_chic, $gradient2_chic);
}
.h3-menu_hover_chic3 {
    @include underline($gradient3_chic, $gradient3_chic);
}

.h3-menu_hover_chic1, .h3-menu_hover_chic2, .h3-menu_hover_chic3 {
    @include regulFZ(95%);
}
/*Texte à l'intérieur des entrées plats et desserts*/
.p-prix_chic, .p-menu_chic {
    font-family: $ff-content-M2;
}