
/*****************************************************/
/***   Généralités applicable à chaque menu        ***/
/*****************************************************/
/*Titre carte de chaque restaurant*/
.h2-titre-menu {
    margin: 2rem 0;
}

/*Alignement des polices des titres*/
.h2-menu, .h4-menu_note, .h2-titre-menu, .h3-menu {
    text-align: center;
}

/*Animation sur les titres entrée/plat/desser au :hover*/
.h3-menu_hover {
    text-decoration: none;
}