/*****************************************************/
/***     Particularités Mentions légales           ***/
/*****************************************************/

/*Titre de la page*/
.h2-mentions-legales {
font-size: 1.5em;
}

/*Titres de chaque partie*/
.h3-mentions-legales {
    font-size: 1.2em;
}

/*Titres de sous-parties*/
.h4-mentions-legales {
    font-size: 1em;
}

/*Titres centrés*/
.h2-mentions-legales,.h3-mentions-legales, .h4-mentions-legales {
    text-align: center;
}

/*Taille de polices des contenus*/
.p-mentions-legales, .li-mentions-legales {
    font-size: 0.7em;
}

/*Style des puces des listes*/
.li-mentions-legales {
    list-style-type: square;
}

/*Séparations des parties*/
.hr-mentions-legales {
    height: 0.01em;
    border-style: dashed;
    border-width: 0.02rem;
    color: #fcca46;
    margin: $margin;
}