
.h2-titre-menu {
    font-family: 'Montserrat', sans-serif;
}

.h2-menu {
    font-size: $h2-font-size;
}

.li-menu, .li-prix {
    list-style-type: none;
}


/*à traiter
.p-couverture
.ul-prix {}
.hr-menu {}
.ul-menu {}*/