/*Le chic à la française*/

$background-color: #fff5fe;
$color: #fff;

/* appétit #c67412; */
/*papilles  #a56799 */
/* gourmandises #6e4ccc */
/* titre #db8528 à  #8f5bfe */

/*Titre
font-family: 'croissant-one', cursive;

Texte
font-family: 'TeX-Gyre-Schola', serif; */