/*****************************************************/
/***     Particularités La palette du goût         ***/
/*****************************************************/
/*Titre à l'intérieur de la carte*/
.h2-menu_palette {
    font-family: $ff-title-M4;
    background:linear-gradient($direction, $gradient1_palette, $gradient2_palette);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Texte des entrées, plats et desserts*/
.h3-menu_palette,.p-prix_palette, .p-menu_palette {
    font-family: $ff-content-M4;
}