//*****************************************************
/***     Particularités Le délice des papilles     ***/
//*****************************************************
/*Titre à l'intérieur de la carte*/
.h2-menu_delice {
    font-family: $ff-title-M2;
    @include linearGradient($direction, $gradient1_delice, $gradient3_delice );
}

.h2-menu_delice {
    font-family: $ff-title-M3;
}

.p-prix_delice, .p-menu_delice .h3-menu_delice {
    font-family: $ff-content-M3;
}

/*Couleur de soulignement des entrées-plats-desserts*/
.h3-menu_hover_delice1 {
    @include underline($gradient1_delice, $gradient1_delice);
}
.h3-menu_hover_delice2 {
    @include underline($gradient2_delice, $gradient2_delice);
}
.h3-menu_hover_delice3 {
    @include underline($gradient3_delice, $gradient3_delice);
}