/*****************************************************/
/***                  Flexbox                      ***/
/*****************************************************/
@mixin dispocol {
    display: flex;
    flex-direction: column;
}

@mixin dispocenter {
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Positionnement centré de tous les éléments entre le header et le footer*/
.main-container_index, .main-container_menu, .container-button_soon, .container_indexbox, .section-index_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin bordergray {
border: 1px #efefef solid;
box-shadow: $box-shadow;
}
