//*Dispotion en flexbox
@mixin dispocol {
    display: flex;
    flex-direction: column;
}
@mixin dispocenter {
    justify-content: center;
    align-content: center;
    align-items: center;
}

//*Encadrement et Ombres des menus
@mixin bordergray {
border: 1px #efefef solid;
box-shadow: $box-shadow;
}

//Mixin linear-gradient
@mixin linearGradient($degree, $gradient1, $gradient2) {
    background: linear-gradient($degree, $gradient1, $gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}