$color-primary: #579c87;
$color-secondary: #fcca46;
$color-main-text: #000;

$logo-font:'Montserrat', 'sans-serif';
$logo-font-weight: bold;
$logo-color: $color-secondary;

/*$header-witdh: 100%;
$header-height: 50px;*/
$header-background-color: $color-primary;



$base-font-size: 16px !default;