$color-primary: #579c87;
$color-secondary: #fcca46;
$color-main-text: #000;

$logo-font:'Montserrat', 'sans-serif';
$logo-font-weight: 900;
$logo-color: $color-secondary;

/*$header-witdh: 100%;
$header-height: 50px;*/
$header-background-color: $color-primary;



$base-font-size: 16px !default;
$line-height:auto;
$h1-font-size: 3rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$p-font-size: 0.75rem;
$li-font-size: 1rem;