/*****************************************************/
/***             Couleurs principales              ***/
/*****************************************************/
$color-primary: #579c87;
$color-secondary: #fcca46;


/*****************************************************/
/***       Couleurs des header et footer           ***/
/*****************************************************/
$header-color: $color-primary;
$footer-color:  $color-primary;


/*****************************************************/
/***            Dégradés de couleurs               ***/
/*****************************************************/
/*Notes du menu 1*/
$gradient1_note: #f05561;
$gradient2_note: #f6916a;

/*Menu chic*/
$gradient1_chic: #db8528;
$gradient2_chic: #8f5bfe;

/*Menu palette*/
$gradient1_palette: #41963c;
$gradient2_palette: #b2f478;


/*****************************************************/
/***            Couleurs des textes             ***/
/*****************************************************/
/*La note enchantée*/
$color-menu_note: #3d1319;

/*Le chic à la française*/
$color-menu_chic_color1: #c67412;
$color-menu_chic_color2: #a56799;
$color-menu_chic-color3: #6e4ccc;

/*Le délice des papilles*/
$color-menu_delice_color1: #0228dd;
$color-menu_delice_color2: #0670f3;
$color-menu_delice-color3: #229df9;

/*La palette du goût*/
$color-menu_gout: #000;


/*****************************************************/
/***               Couleurs de fond                ***/
/*****************************************************/
$background-menu_note: #fcdfdb;
$background-menu_chic: #fff5fe;
$background-menu_delice: #edefef;
$background-menu_palette: #fdfffd;


/*****************************************************/
/***                    LOGO                       ***/
/*****************************************************/
$logo-font: "Montserrat", sans-serif;    /*à voir pour $global-title*/
$logo-color: $color-secondary;


/*****************************************************/
/***            Polices de caractères              ***/
/*****************************************************/
/*Titre carte de chaque restaurant*/
$global-title: "Montserrat", sans-serif;

/*Menu 1*/
$ff-title-M1: "Devonshire", cursive;
$ff-content-M1: "segoepr", 'Open Sans', cursive;

/*Menu 2*/
$ff-title-M2: 'Croissant One', cursive;
$ff-content-M2:'Roboto Slab', serif;

/*Menu 3*/
$ff-title-M3:'Dancing Script', cursive;
$ff-content-M3: "segoepr", 'Open Sans', cursive;

/*Menu 4*/
$ff-title-M4: 'Kaushan Script', cursive;
$ff-content-M4: 'Open Sans', cursive;

/*Mentions légales*/
$ff-titre-legal: "Montserrat", sans-serif;
$ff-content-legal: 'Roboto Slab', serif;

/*****************************************************/
/***            Taille de caractères               ***/
/*****************************************************/
$base-font-size: 16px!default;
$line-height:1em;
$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.12em;
$hr-font-size: 1em;
$p-font-size: 1em;
$li-font-size: 0.8em;
$i-circle-size: 0.25em;


/*****************************************************/
/***                    Marges                     ***/
/*****************************************************/
$margin: 1rem;
$margin-bottom: 3rem;
$padding-h2: 1.5rem;


/*****************************************************/
/***           Ombres avec box-shadow              ***/
/*****************************************************/
$box-shadow: 4px 4px 4px #efefef;